.table-container {
    max-height: 300px;
    overflow-y: auto;
}

.table thead tr{
    background-color: #F7F9FF;
}

.table th {
    background-color: #F7F9FF;
    position: sticky;
    top: -2px;
}

.table th, .table td {
    text-align: center;
}