<div class="table-container">
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <ng-container *ngFor="let campo of campos">
                    <th *ngIf="campo.mostrar">
                        {{ campo.titulo }}
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let persona of personas">
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.edad }}</td>
                <td>{{ persona.sexo }}</td>
                <td>{{ persona.documento }}</td>
            </tr>
        </tbody>
    </table>
</div>